// Arrows and Select Buttons
.arrows {
  display: block;
  padding: 5px;

  div {
    margin: 1px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

}


// Volume Buttons
.volume {
  padding: 5px;
  display: block;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      margin: 1px;
    }
  }
}